# Xcode
xcuserdata/
*.xcscmblueprint
*.xccheckout

# Build artifacts
build/
DerivedData/
*.moved-aside

# User interface files
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xcuserstate

# Obj-C / Swift specific
*.hmap

# App packaging
*.ipa
*.dSYM.zip
*.dSYM

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
Packages/
.build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# macOS system files
.DS_Store
.AppleDouble
.LSOverride
._*

# Other system files
*.swp
